---
import Layout from '@layouts/Layout'

// // utils
// import { slugify } from "@utils";
//
// export async function getStaticPaths() {
// 	const modules = import.meta.glob("./*/**.json", { eager: true });
// 	const mdFiles = Object.values(modules).map((mod: any) => mod.default);
//
// 	return mdFiles.map((file) => {
// 		return {
// 			params: {
// 				name: slugify(file.name)
// 			},
// 			props: {
// 				fontName: file.name ,
// 				text: file.previewText
// 			},
// 		};
// 	});
// }
//
// const { name } = Astro.params;
// const { fontName, text } = Astro.props;
---

<!-- <Layout title={fontName}> --><!-- 	<h1>{fontName}</h1> --><!-- 	<p>{text}</p> --><!-- </Layout> -->