---
import Base from '../layouts/Base.astro';
import Link from '../componenets/Link.astro';
import { sluggit } from '@utils';
import { getCollection } from 'astro:content';

const fonts = await getCollection("font");
---

<Base title={'NECOdes - BunnyPlugins'}>
	<header>
		<h1>BunnyPlugins</h1>
	</header>
	<section>
		<h2>Fonts</h2>
		<ul>
			{ fonts.map((font) => (
			<li><Link href={`fonts/${font.data.slug || sluggit(font.data.title)}`} text={font.data.title} /></li>
			)) }
		</ul>
	</section>
	<section>
		<h2>Plugins</h2>
	</section>
	<section>
		<h2>Themes</h2>
	</section>
</Base>

<style>
header {
	border-bottom: 1px solid var(--cbor);
}
section {
	margin-block: 0.5rem;
}
li {
	padding-left: 1rem;
}
</style>