---
import Layout from '../layouts/Layout.astro'
import Link from '../componenets/Link.astro'

const modules = import.meta.glob('../fonts/*/*.json', { eager: true })
const fonts = Object.values(modules).map((mod: any) => mod.default)

function getFontId(fontName: string) {
	return fontName?.replace(' ', '_').toLowerCase()
}
---

<Layout title={'NECOdes - BunnyPlugins'}>
	<h1>BunnyPlugins</h1>
	<section>
		<h2>Fonts</h2>
		<ul>
			{
				fonts.map((font) => (
					<li>
						<Link
							href={
								'fonts/' + getFontId(font.name) + '/README.md'
							}
						>
							{font.name}
						</Link>
					</li>
				))
			}
		</ul>
	</section>
</Layout>