---
import "@/styles/global.css"
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---
<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="/neco.gif" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="HandheldFriendly" content="True" />
<title>{title}</title>
<ClientRouter />