---
import { cn } from "@/lib/utils";

interface Props {
	href: string
	text: string
	class?: string
}

const { href, text, class: className } = Astro.props;
---
<a
	href={href}
	target="_blank"
	class={cn("underline text-link hover:text-warning", className)}
>{text}</a>