---
import '@/styles/global.css'
import Head from '@/components/Head.astro';

const { title } = Astro.props;
---
<html
	lang="en"
	class="bg-background text-foreground"
>
	<head>
		<Head title={title}/>
	</head>
	<body class="h-svh p-space">
		<main class="h-full max-w-2xl p-space m-auto border border-border border-dashed rounded-rad">
			<slot />
		</main>
	</body>
</html>

<style>
</style>