---
import Link from "@/components/Link.astro";
import type { FontData } from "@/types";

const { title, source, date } = Astro.props as FontData;
---
<article class="prose prose-neutral prose-invert max-w-none">
	<section>
		<div class="text-muted flex mb-3 text-xs italic gap-2">
			<span>{date}</span><Link href=`https://${source}` external text={source} />
		</div>
		<h1 class="text-3xl sm:text-4xl">{title}</h1>
		<slot />
	</section>
</article>