---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<'font'>['data'];

const { title, source, date } = Astro.props;
---

<article class="prose prose-neutral prose-invert max-w-none">
	<section>
		<p class="date">{date}</p>
		<slot />
	</section>
</article>

<style>
.date {
	font-size: .7rem;
	font-style: italic;
	color: oklch(from var(--cfg)  calc(1 - 0.3) c h);
}
/* .description { */
/* 	margin-block: 1rem; */
/* } */
</style>