---
import Link from "@/components/Link.astro";
import type { FontData } from "@/types";

const { title, source, date } = Astro.props as FontData;
---
<article class="h-full flex flex-col prose prose-neutral prose-invert max-w-none">
	<h1 class="text-3xl sm:text-4xl mb-0 text-foreground">{title}</h1>
	<section class="flex-grow">
	<slot />
	</section>
	<div class="divide-x devide-border divide-solid text-muted flex text-xs italic gap-2">
		<span class="pr-1.5">{date}</span><Link href=`https://${source}` external text={source} />
	</div>
</article>