---
import "../styles/global.css"
import '@fontsource/ibm-plex-sans-condensed';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/neco.gif" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<slot />
	</head>
	<body>
		<slot />
	</body>
</html>